*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "My Custom Font";
    src: url("C:\Users\niren\Downloads\transfonter.org-20240110-105226 (1)") format("true type") ;
}

.background{
    display: flex;
    flex-direction: column;
    background: rgb(241, 241, 241);
    width: inherit;
    height: 99vh;
    font-family: "My Custom Font" , Verdana,  Tahoma;
    color: rgba(5, 5, 52, 0.675);

    
}
.upper_bar{
    display: flex;
    max-width: 92%;
    min-height: 55px;
    min-width: fit-content;
    background: white;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 60px;
    align-items: center;

}
.upper_bar_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
    width: 2%;
    
}
.upper_bar_text{
    padding-left: 10px;
    font-size: x-small;
    justify-content: flex-end;
}

.main{
    display: flex;
    flex-direction: row;
}
.navigation_bar{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.781);
    min-width: fit-content;
    min-height:94vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.nav_bar_item{
    display: flex;
}
.nav_bar_icon {
    display: flex;
    row-gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;

   
}
.nav_bar_text{
    display: flex;
    row-gap: 10px;
    padding-top: 25px;
    padding-left: 10px;
    font-size: small;
    color: rgba(179, 182, 197, 0.733);
    font-weight: 540;
}
.nav_bar_text:hover{
     color: rgb(5, 5, 52);;
}

.upper_bar_two{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
    
    
    
}

.upper_bar_two_box{
    background: rgb(255, 255, 255);
    width: 26%;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    margin-right: 20px;

}
.upper_bar_two_box_two{
    background: rgb(255, 255, 255);
    min-width: 20px;
    max-width: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}
.upper_bar_two_box_three{
    background: rgba(255, 194, 40, 0.482);
    min-width: max-content;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: small;
    font-weight: bold;
    color: rgba(5, 5, 52, 0.796);;
    
    
    
}
.upper_bar_two_headtext{
    padding-left: 20px;
    padding-right: 5px;
    font-size: small;
}
.upper_bar_two_subtext{
    width: 25%;
    font-size: x-small;
    color: rgba(5, 5, 52, 0.448);;
    font-weight: bold;
}
.upper_bar_two_search{
    padding-right: 20px;
    background: white;
    width: 50%;
    border-radius: 7px;
    margin-right: 5px;
    border: none;
    
}
.upper_bar_two_search input{
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.upper_bar_two_dates{
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: small;
    color: rgba(5, 5, 52);
}
.upper_bar_two_sat{
    color: rgba(5, 5, 52);
    font-weight: lighter;
    font-size: xx-small;



}
.upper_bar_two_arrow{
    width: 40px;
}
.upper_bar_two_arrow img{
    padding-top: 15px;
}
.nav_bar_logout{
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    align-items: end;
    display: flex;
    row-gap: 10px;
    padding-left: 10px;
    font-size: small;
    
}
.nav_bar_logout_text{
    color: red;
}
.nav_bar_collapse{
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: end;
    display: flex;
    row-gap: 10px;
    padding-left: 10px;
    font-size: small;
    
}
.nav_bar_collapse_text{
    color: rgba(13, 16, 92, 0.518);
}
.upper_bar_three{
    font-size: small;
    padding-left: 50px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    
    
}
.column_main_1{
    padding: 10px;
    background: white;
    min-width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(21, 6, 58, 0.422);
    min-width: 20%;
    border-radius: 7px;
}
.column_main_2{
    padding: 10px;
    background: white;
    min-width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(21, 6, 58, 0.422);
    min-width: 25%;

}
.column_main_3{
    padding: 10px;
    background: white;
    min-width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(21, 6, 58, 0.422);
    min-width: 1px;
    max-width: 6%;

}
.column_main_4{
    padding: 10px;
    background: white;
    min-width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(21, 6, 58, 0.422);
    min-width: 25%;

}
.column_main_5{
    padding: 10px;
    background: white;
    min-width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(21, 6, 58, 0.422);
    min-width: 1px;
    max-width: 6%;

}
.column_main_6{
    padding: 10px;
    background: white;
    min-width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(21, 6, 58, 0.422);
    min-width: 6%;
    border-radius: 7px;

}
::placeholder{
    color: rgba(186, 183, 183, 0.611);
}
.upper_bar_column{
    display: flex;
    flex-direction: column;
    min-width: 85%;
}
.upper_bar_four{
    font-size: small;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
}   
.column_main_7{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    min-width: fit-content;
    height: 400px;
    display: flex;
    color: rgba(3, 3, 33, 0.862);
    min-width: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 7px;

} 
.column_main_7 label{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;

}
.column_main_8{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    min-width: fit-content;
    height: 400px;
    display: flex;
    color: rgba(3, 3, 33, 0.862);
    min-width: 20%;
    max-width: 25%;
    flex-direction: column;
} 
.column_main_8 label{
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;


}
.column_main_9{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    min-width: fit-content;
    height: 400px;
    display: flex;
    color: rgba(3, 3, 33, 0.862);
    min-width: 6%;
    flex-direction: column;

}
.column_main_9 label{
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;


}
.column_main_10{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    min-width: fit-content;
    height: 400px;
    display: flex;
    color: rgba(3, 3, 33, 0.862);
    min-width: 17%;
    max-width: 25%;
    flex-direction: column;

}
.column_main_10 label{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;

}
.column_main_11{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    min-width: fit-content;
    height: 400px;
    display: flex;
    color: rgba(3, 3, 33, 0.862);
    min-width: 6%;
    flex-direction: column;
}
.column_main_11 label{
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;


}
.column_main_12{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    min-width: fit-content;
    height: 400px;
    display: flex;
    color: rgba(3, 3, 33, 0.862);
    min-width: 6%;
    flex-direction: column;
    border-radius: 7px;
}
.column_main_12 label{
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;


}

.upper_bar_box_driv img{
    width: 5%;
}
.upper_bar_box_driv img{
    display: flex;
    flex-direction: row;
    min-width:23px;
    max-width: 100%;
}
.upper_bar_box_driv{
    display: flex;
    flex-direction: row;
}
.add-sign{
    display: flex;
    max-width: 20%;
    max-height: 15px;
    background: white;
}